
@media (max-width: 986px) {
    .add_article_form_left{
        margin: 0 auto 0 auto;
    }
    .add_article_forme{
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
    }
    .add_article_form_left_section{
        display: flex;
        flex-direction: column;
    }
    .add_article_form_left_section > .description > textarea {
    min-width: initial;
    max-width: initial;
    width: initial;
    border-radius: 10px;
    }

    .main-page, .contain {
        display: flex;
        justify-content: center;
        align-items: start;
    }
    .card {
        width: 830px;
        max-width: 830px;
        min-width: 830px;
        display: flex;
        justify-content: center;

    }

    .card {
        padding: 0.5rem 0;
        margin: 0.5rem 0;
        gap: 0;

    }

    .carousel-control-prev > .carousel-control-prev-icon,
    .carousel-control-next > .carousel-control-next-icon {
        padding: 1.5rem;
    }

    .info {
        width: 420px;
        max-width: 420px;
        min-width: 420px;

        display: flex;
        flex-direction: row;
    }

    .info > .titre {
        width: 190px;
        max-width: 190px;
        min-width: 190px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
    }

    .info > .sub-info > .details{
        width: 230px;
        max-width: 230px;
        min-width: 230px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
    }

    .info > .sub-info > .details > .cara{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .details > div {
        width: 100%;
    }
    .details > div > div {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-right: 0.5rem;
    }

    .carousel-item{
        width: 380px;
        max-width: 380px;
        min-width: 380px;
    }
    .info p {
        font-size: 18px;
    }







    .images-slider {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .images-slider__main__image {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }




    .images-slider > .images-slider__main > .images-slider__main__image > img {
        width: 900px;
        max-width: 900px;
        min-width: 900px;
    }


    .images-slider__main__slider {
        margin-left: 4.2rem;
        padding-left: 4.2rem;
    }





    .add_article_forme > .add_article_form_left > .add_article_form_left_section {
        display: flex;
        flex-direction: row;

    }
    .add_article_form_left_section_child.description {
        display: flex;
        flex-direction: column;
        justify-content: center;

    }
    .add_article_form_left_section_child.description > textarea {
        width: 620px;
    }
    .add_article_form_left_section_child.description > label {
        text-align: center;
    }
    .add_article_form_left_section_child.prix {
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
        justify-content: space-between;
        justify-items: space-between;
        gap: 3rem;
    }

    .add_article_form_right{
        border: none;
    }

    .add_article_form_left_section_child.prix{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: space-around

    }
    

    
}


@media (max-width: 837px) {
    
    .cards{
        padding-top: 0;
        margin-top: 0;
    }
    .card {
        transform: scale(0.95)
    }
}

@media (max-width: 799px) {
    .card {
        transform: scale(0.8);

    }
}


@media (max-width: 375px) {
    .card {
        transform: scale(0.4);
       margin-top: -4.5rem;
        margin-bottom: -6rem;

    }
    cards {
        margin: 0;
        padding: 0;
        gap: 0;
    }
    .intro-text__phrase {
        position: absolute;
        right: 1.3rem;
        top: 9rem;
        font-size: 18px;
        background-color: var(--white-color);
        color: var(--main-bg-color);
        overflow: hidden;
        padding: 0 0.5rem;
        white-space: nowrap;
    }
}


  
  
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/




@media (max-width: 1024px) and (min-width: 769px) {
    .topnav a, span {
        font-size: 0.8rem;
    }
    .searchbar input, select, label{
        transform: scale(0.9)
    }
    .searchbar  label{
        font-size: 0.8rem;
        overflow-wrap: break-word;
    }
    
        /*              ADD ARTICLE                           */
    .add_article_forme {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    .add_article_form_left,
    .add_article_form_right{
        margin: 0 auto;
    }
    .add_article_form_right {
        border: none;
    }
    .add_article_form_left_section {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .add_article_form_left_section_child {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-content: flex-start;
    }
    .add_article_form_left_section_child > select {
        width: 400px;
        min-width: 400px;
        max-width: 400px;
    }
    .add_article_form_left_section_child > input {
        width: 360px;
        min-width: 360px;
        max-width: 360px;
        margin-left: 18px;
    }
    
    .add_article_form_left_section_child.description {
    }
    .add_article_form_left_section_child.description > #description {
        margin-left: 18px;
        width: 782px;
        min-width: 782px;
        max-width: 782px;
    }
    .add_article_form_left_section_child.prix {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-evenly
    }
    .add_article_form_left_section_child.prix > label{
        font-size: 1.5rem;
    }

} 
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/* 

@media (max-width: 768px) and (min-width: 481px) {
    .add_article_forme {
        transform: scale(0.8);
    }
    .add_article_center {
        flex-direction: column;
    }
    .add_article_form_right {
        border: none;
    }

} */
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/

    /*****************************************************************************/
    /*                                NAVBAR                                     */
    /*****************************************************************************/
/*     
    .contain {
        transform: scale(0.8)

    }
    .cards {
transform: scale(0.8)
    }
    .carousel-inner {
        width: 15rem;
    }
    img.d-block {
        width: 15rem;
    }
  
    .card {
        display: flex;
        flex-direction: column;
    }

} */

/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/***************************************************************************/


@media (max-width: 986px) {
    
}
@media (max-width: 480px) and (min-width: 320px) {
    /*****************************************************************************/
    /*                                NAVBAR                                     */
    /*****************************************************************************/
    .topnav a:not(:first-child), .dropdown .dropbtn {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .topnav.responsive .dropdown {
        float: none;
    }
    .topnav.responsive .dropdown-content {
        position: relative;
    }
    .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
    }
    .confirm__window, .confirm__titlebar {
        transform: scale(0.8);
    } */



