<nav class="nav" id="main-nav">
    <ul class="menu" id="menu">
        <li class="menu-item mv-only"><a class="menu-item-link" id="menuTregger" ></a></li>
        <!-- <li class="menu-item menu-items"><a class="menu-item-link" href="{{ url_for('index') }}">Accueil</a></li>
        
        <li class="menu-item menu-items"><a class="menu-item-link option-de-recherche" onclick="showHideOptionDeRechercheDiv()" >Options de recherche</a></li>
        <li class="menu-item menu-item-nos-services menu-items">
            <a class="menu-item-link">Nos services</a>
            <ul class="menu-item-link-hiden-services">
                <li class="menu-item-link-hiden-services__item menu-item-link-hiden-services__item__marque">
                    <a class="menu-item-link-hiden-services__item__link menu-item-link-hiden-services__item__link__marques" href="#">Les marques</a>
                    <ul class="menu-item-link-hiden-services__item__link__list__company">
                        {% for i in get_marques_list() %}
                        <li class="menu-item-link-hiden-services__item__link__list__company__iteam">
                            <a href="{{ url_for('get_marques_list', marque=i) }}">{{ i }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="menu-item-link-hiden-services__item">
                    <a class="menu-item-link-hiden-services__item__link" id="option-de-contectes" onclick="hideShowContactes()" href="#">Contactes</a>
                </li>
                <li class="menu-item-link-hiden-services__item">
                    <a class="menu-item-link-hiden-services__item__link" href="#">Société</a>
                </li>
            </ul>
        </li>
        
        {% if current_user.is_authenticated %}
        <li class="menu-item menu-item-dashboard menu-items">
            <a class="menu-item-link">Tableau de bord</a>
            <ul class="menu-item-link-hiden-dashboard">
                <li class="menu-item-link-hiden-dashboard__item">
                    <a class="menu-item-link-hiden-dashboard__item__link" href="{{ url_for('add__', gole='article') }}">Ajouter un article</a>
                </li>
                <li class="menu-item-link-hiden-dashboard__item">
                    <a class="menu-item-link-hiden-dashboard__item__link" href="{{ url_for('add__', gole='admin') }}">Ajouter un administrateur</a>
                </li> 
                <li class="menu-item-link-hiden-dashboard__item">
                    <a class="menu-item-link-hiden-dashboard__item__link" href="{{ url_for('logout') }}">Déconnexion</a>
                </li>
            </ul>
        </li>
        {% endif %} -->
    </ul>
    
    <ul class="searchbar" id="showHideOptionDeRechercheDiv">    
        <form class="searchbar-form" method="POST" action="{{ url_for('outpui_searchbar')}}">
            <div class="searchbar-form__option">

                <div class="searchbar-form__option__col">
                    <div class="searchbar-form__option__col__row__marque_modele">
                        <label>Marques et Modeles</label>
                        <select class="searchbar-form__option__row__marque" id="searchbar-form__option__row__marque" name="select_marques"></select>
                        <select class="searchbar-form__option__row__modele" id="searchbar-form__option__row__modeles" name="select_modeles"></select>
                    </div>
                </div>

                <div class="searchbar-form__option__col">
                    <div class="searchbar-form__option__col__row">
                        <div class="searchbar-form__option__col__row__year">
                            <label for="year-min">Années</label>
                            <input type="number" name="year-min" id="year-min" value="1990">
                            <input type="number" name="year-max" id="year-max" value="2022">
                        </div>
                    </div>
                </div>
                <div class="searchbar-form__option__col">
                    <div class="searchbar-form__option__col__row">
                        <div class="searchbar-form__option__col__row__kilometrage">
                            <label for="kilometrage-min">Kilometrage (EN 1000 KM)</label>
                            <input type="number" name="kilometrage-min" id="kilometrage-min" value="50">
                            <input type="number" name="kilometrage-max" id="kilometrage-max" value="300">
                        </div>
                    </div>
                </div>
                <div class="searchbar-form__option__col">
                    <div class="searchbar-form__option__col__row">
                        <div class="searchbar-form__option__col__row__puissance">
                            <label for="nbplace-min">Puissance</label>
                            <input type="number" name="puissance-min" id="nbplace-min" value="80">
                            <input type="number" name="puissance-max" id="nbplace-max" value="400">
                        </div>
                    </div>
                </div>
                <div class="searchbar-form__option__col">
                    <div class="searchbar-form__option__col__row">
                        <div class="searchbar-form__option__col__row__nb-portes">
                            <label for="nb-portes">Nombre de portes</label>
                            <select class="searchbar-form__option__col__row__nb-portes__select" name="select_nbportes">
                                <option class="searchbar-form__option__col__row__nb-portes__select option" id="nb-portes" value="all">Tout les choix</option>
                                <option class="searchbar-form__option__col__row__nb-portes__select option" value="3">3 portes</option>
                                <option class="searchbar-form__option__col__row__nb-portes__select option" value="5">5 portes</option>
                                <option class="searchbar-form__option__col__row__nb-portes__select option" value="autre">Autre</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="searchbar-form__option__col">
                    <div class="searchbar-form__option__col__row">
                        <div class="searchbar-form__option__col__row__nb-place">
                            <label for="nb-places">Nombre de places</label>
                            <select class="searchbar-form__option__col__row__nb-places__select" name="select_nbplaces">
                                <option class="searchbar-form__option__col__row__nb-places__select option" id="nb-places" value="all">Tout les choix</option>
                                <option class="searchbar-form__option__col__row__nb-places__select option" value="2">2 places</option>
                                <option class="searchbar-form__option__col__row__nb-places__select option" value="4">4 places</option>
                                <option class="searchbar-form__option__col__row__nb-places__select option" value="5">5 places</option>
                                <option class="searchbar-form__option__col__row__nb-places__select option" value="7">7 places</option>
                                <option class="searchbar-form__option__col__row__nb-places__select option" value="autre">Autre</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="searchbar-form__option__col">
                    <div class="searchbar-form__option__col__row">
                        <div class="searchbar-form__option__col__row__carburant">
                            <label for="carburants">Carburants</label>
                            <select class="searchbar-form__option__col__row__carburant__select" name="select_carburants">
                                <option class="searchbar-form__option__col__row__carburant__select option" id="carburants" value="all">Tout les type</option>
                                <option class="searchbar-form__option__col__row__carburant__select option" value="Essence">Essence</option>
                                <option class="searchbar-form__option__col__row__carburant__select option" value="Disel">Disel</option>
                                <option class="searchbar-form__option__col__row__carburant__select option" value="Hybride">Hybride</option>
                                <option class="searchbar-form__option__col__row__carburant__select option" value="Electrique">Electrique</option>
                                <option class="searchbar-form__option__col__row__carburant__select option" value="GPL">GPL</option>
                                <option class="searchbar-form__option__col__row__carburant__select option" value="Autre">Autre</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="searchbar-form__option__col">
                    <div class="searchbar-form__option__col__row">
                        <div class="searchbar-form__option__col__row__boit-vitesse">
                            <label for="boite-vitesse">Boîte de votesse</label>
                            <select class="searchbar-form__option__col__row__boit-vitesse__select" name="select_boitesvitesse">
                                <option class="searchbar-form__option__col__row__boit-vitesse__select option" id="boite-vitesse" value="all">Tout les types</option>
                                <option class="searchbar-form__option__col__row__boit-vitesse__select option" value="Manuelle">Manuelle</option>
                                <option class="searchbar-form__option__col__row__boit-vitesse__select option" value="Automatique">Automatique</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="searchbar-form__option__col rpmc">
                <input type="text" class="searchbar-form__search__inputs__input keyword" id="form__input" name="form__input" placeholder="Rechercher par un mot clé">
                <input type="submit" class="searchbar-form__btn" value="Rechercher">
            </div>
        </form>
    </ul>
</nav>




{% if current_user.is_authenticated %}
<div class="confirm" id="showHideOptionsDeContactesDiv">
    <form method="POST" action="{{ url_for('edit_contact') }}" class="confirm__window" id="showHideOptionsDeContactesDiv2">
        <div class="confirm__titlebar">
            <span class="confirm__title">Contectez-nous par télephone ou par mail</span>
            <button onclick="hideShowContactes()" class="confirm__close">&times;</button>
        </div>
        <div class="confirm__content">
            <div class="contacte__body__tele">
                <div class="contacte__body__tele__icon"><i class="bi bi-telephone-forward"></i></div>
                <div class="contacte__body__tele__numero"><input type="text" name="numero" id="numero" value="{{contactes.telephone}}"></div>
            </div>
            <div class="contacte__body__email">
                <div class="contacte__body__email__icon"><i class="bi bi-chat-left-dots"></i></div>
                <div class="contacte__body__email__email"><input type="text" name="email" id="email" value="{{ contactes.email }}"></div>
            </div>
            <div class="contacte__body__action">
                <div class="contacte__body__action__confirm"><input type="submit" name="submit" id="submit" value="Modifier"></div>
            </div>
        </div>
    </form>
</div>
{% else %}
<div class="confirm" id="showHideOptionsDeContactesDiv">
    <div class="confirm__window" id="showHideOptionsDeContactesDiv2">
        <div class="confirm__titlebar">
            <span class="confirm__title">Contectez-nous par télephone ou par mail</span>
            <button onclick="hideShowContactes()" class="confirm__close">&times;</button>
        </div>
        <div class="confirm__content">
            <div class="contacte__body__tele">
                <div class="contacte__body__tele__icon"><i class="bi bi-telephone-forward"></i></div>
                <div class="contacte__body__tele__numero">{{set_format_tele(contactes.telephone)}}</div>
            </div>
            <div class="contacte__body__email">
                <div class="contacte__body__email__icon"><i class="bi bi-chat-left-dots"></i></div>
                <div class="contacte__body__email__email">{{ contactes.email }}</div>
            </div>
        </div>
    </div>
</div>
{% endif %}

<!-- <script>
    let menuTregger = document.querySelector('#menuTregger');
    let nav = document.querySelector('#main-nav');
    let menuItems = document.getElementsByClassName('menu-items');

    menuTregger.addEventListener('click', function () {
        console.log("click");
        nav.classList.style.height = "50vh";
    });
</script> -->