{% extends "base.html" %}
{% set current_path = index %}

{% block links %}
    {{ super() }}
{% endblock %}

{% block tittre %}
    My Autolive - les marques
{% endblock %}



{% block header %}
{% include "sub_templates/main_header_v2.html" %}
{% endblock %}


{% block main %}

<div class="marques-contain">
    <table id="customers">
        <tr>
          <th>-----</th>
          <th>Le nom de la marque</th>
          <th>Le nombre des examplaires</th>
          <th>-----</th>
        </tr>
        
        <tr>
            {% for marque in marques %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{ marque.nom }}</td>
                <td>{{ get_nb_car_by_marque_id(marque.id) }}</td>
                <td><a href="{{ url_for('get_cars_list_by_marque_id', id=marque.id) }}">Voir les annonces</a></td>
            </tr>
            {% endfor %}
        </tr>
      </table>
</div>
{% endblock %}




